<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul>
  <li>praise king Khais 1 times</li>
  <li>praise king Khais 2 times</li>
  <li>praise king Khais 3 times</li>
  <li>praise king Khais 4 times</li>
  <li>praise king Khais 5 times</li>
</ul>
<p>req is <br>
{{req}}
</p>
<br><br><br>
  <!-- Body of Form starts -->
  <div class="container">
    <form action="/submit" method="post" role="form" enctype="application/x-www-form-urlencoded"  >

      <!-- not id ...name of the input field wil be passed as query in the request object url -->
      <!--First name-->
      <div class="box">
        <label for="firstName" class="fl fontLabel"> First Name: </label>
        <div class="new iconBox">
          <i class="fa fa-user" aria-hidden="true"></i>
        </div>
        <div class="fr">
            <input type="text" name="firstName" placeholder="First Name"
            class="textBox" autofocus="on" required>
        </div>
        <div class="clr"></div>
      </div>
      <!--First name-->


      <!--Second name-->
      <div class="box">
        <label for="secondName" class="fl fontLabel"> Seconed Name: </label>
        <div class="fl iconBox"><i class="fa fa-user" aria-hidden="true"></i></div>
        <div class="fr">
            <input type="text" required name="secondName"
            placeholder="Last Name" class="textBox">
        </div>
        <div class="clr"></div>
      </div>
      <!--Second name-->


      <!---Phone No.--->
      <div class="box">
        <label for="phone" class="fl fontLabel"> Phone No.: </label>
        <div class="fl iconBox"><i class="fa fa-phone-square" aria-hidden="true"></i></div>
        <div class="fr">
            <input type="text" required name="phoneNo" maxlength="10" placeholder="Phone No." class="textBox">
        </div>
        <div class="clr"></div>
      </div>
      <!---Phone No.-->


      <!---Email ID-->
      <div class="box">
        <label for="email" class="fl fontLabel"> Email ID: </label>
        <div class="fl iconBox"><i class="fa fa-envelope" aria-hidden="true"></i></div>
        <div class="fr">
            <input type="email" required name="email" placeholder="Email Id" class="textBox">
        </div>
        <div class="clr"></div>
      </div>
      <!--Email ID--->


      <!---Submit Button--->
      <div class="box" style="background: #2d3e3f">
          <input type="Submit" name="Submit" class="submit" value="SUBMIT">
      </div>
      <!---Submit Button--->
    </form>
</div>
