<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<ul>
  <li>praise king Khais 1 times</li>
  <li>praise king Khais 2 times</li>
  <li>praise king Khais 3 times</li>
  <li>praise king Khais 4 times</li>
  <li>praise king Khais 5 times</li>
</ul>
<p>req is <br>
{{req}}
</p>
